{% extends "base.html" %}

{% block content %}
    <h1> All Requests </h1>
    <p> This board displays all requests </p>

    <button id="show-public-btn" onclick="location.href='{{ url_for('main.public_requests') }}'">
        Show Public Requests
    </button>

    <button onclick="location.href='{{ url_for('main.submitRequest') }}'">
        Submit a Request
    </button>

    {% for requests in all_requests %}
    <div class="request-board">
        {% include 'request_table.html' %}
    </div>
    <br>
    {% endfor %}
{% endblock %}
