{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='board.css') }}">
{% endblock %}

{% block content %}
    <h1> All Requests </h1>
    <p> This board displays all requests </p>

    <a href="{{ url_for('main.all_requests') }}" id='show-all-btn' class="navbar-button"> Show All Requests</a>
    <a href="{{ url_for('main.submitRequest') }}"  class="navbar-button">Submit a request</a>

    {% for requests in all_requests %}
    <div class="request-board">
        {% include 'request_table.html' %}
    </div>
    <br>
    {% endfor %}
{% endblock %}
