<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="{{ url_for('static',filename='script.js') }}"></script>
    
  {% if title %}
  <title>Illuquest - {{ title }}</title>
  {% else %}
  <title>Illuquest</title>
  {% endif %}

  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>
<body>
  <div class="header">
    Illust: 
    <a href="{{ url_for('main.index') }}">Home</a>
    {% if current_user.is_anonymous %}
    <a id="login" href="{{ url_for('main.login') }}">Login</a>
    {% else %}

    <a id="profile" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
    <a id="create-request" href="{{ url_for('main.submitRequest') }}">Create a Request</a>
    <a href="{{ url_for('main.public_requests') }}">General Request Board</a>
    <a href="{{ url_for('main.search_user') }}">Search</a>
    <a href="{{ url_for('main.logout')}}">Logout</a>
    {% endif %}
  </div> 

  <hr>
  <!--Error messages-->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li class="message"> {{ message }} </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>
</html>
