<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    
  {% if title %}
  <title>Illust - {{ title }}</title>
  {% else %}
  <title>Illust</title>
  {% endif %}

  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  {% block stylesheets %}{% endblock %}

</head>
<body>
  <div class="navbar-header">
        <img  class='logo-img' src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">

    <a class="navbar-button" href="{{ url_for('index') }}">Home</a>
    {% if current_user.is_anonymous %}
    <a class="navbar-button" href="{{ url_for('login') }}">Login</a>
    {% else %}
    <a class="navbar-button" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
    <a class="navbar-button" href="{{ url_for('logout')}}">Logout</a>
    <a class="navbar-button" href="{{ url_for('submitRequest') }}">Create a Request</a>
    <a class="navbar-button" href="{{ url_for('public_requests') }}">General Request Board</a>
    {% endif %}
  </div> 

<div class="content-wrapper">
  <!--Error messages-->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}

</div>
</body>
</html>
