{% extends "base.html" %}

{% block content %}
    <h1> General Request Board </h1>
    <p> This board displays all requests that can be completed by anyone.  </p>

    <button id="show-all-btn" onclick="location.href='{{ url_for('main.all_requests') }}'">
        Show All Requests
    </button>
        
    <button onclick="location.href='{{ url_for('main.submitRequest') }}'">
        Submit a Request
    </button>

    {% for requests in public_requests %}
    <div id="request-board">
        {% include 'request_table.html' %}
    </div>
    <br>
    {% endfor %}
{% endblock %}
