{% extends "base.html" %}

{% block content %}
  <h1>Hello, {{ current_user.username }}!</h1>
  <p>
    Welcome to Illuquest! <br> <br>

    When creating requests, you can specify the username of an artist to request them directly! Otherwise, everyone will be able to reply to your request.<br> 
    Make sure that the artist’s requests are open before requesting though! <br>
    You can search a user’s profile to check, and can open or close your own availability in your profile’s Edit Profile section. <br><br>

    When replying, reply with a link to your image. <br> <br>

    You can close requests by pressing complete, if you are the author of the request or specified artist replying to a request, which will prevent anymore new replies.<br><br> 

    Have fun! 
  </p>
{% endblock %}