{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}

<div class='form-wrapper login-form-wrapper'>

  <h1>Sign In</h1>
  <form id="login-form" action="login" method="post" novalidate>
    {{ form.hidden_tag() }}

            {{ form.username.label(class_='form-label') }} <br>
        {{ form.username(class_='form-input') }} <br>
      {% for error in form.username.errors %}
      <span class="error-msg">[{{ error }}]</span>
      {% endfor %}

            {{ form.password.label(class_='form-label') }} <br>
        {{ form.password(class_='form-input') }} <br>
      {% for error in form.password.errors %}
      <span class="error-msg">[{{ error }}]</span>
      {% endfor %}


     <div class='remember-wrapper'>
      {{ form.remember_me.label(class_='form-label') }}
      {{ form.remember_me(class_=' checkbox-input') }}
     </div>

      <p>{{ form.submit(class_='form-button') }}</p>
  </form>
    <p>New User? <a class='navbar-button' href="{{ url_for('main.register') }}">Click to Register!</a></p>

</div>
{% endblock %}
