{% extends "base.html" %}

{% block content %}
  <p>
    Request: <br>
    <a href="{{ url_for('main.user', username=requests.author.username) }}">{{ requests.author.username }}</a> says: 
    <b>{{ requests.body }}</b> <br> 
    {% if requests.artist %}
    artist: {{ requests.artist.username }} <br>
    {% else %}
    artist: Open to all!
    {% endif %}
  </p>
  {% if requests.author.username == current_user.username or requests.artist.username == current_user.username %}
  <form action="{{ url_for('complete_request', request_id=requests.request_id) }}" method="post">
    {{ complete_form.hidden_tag() }}
    {{ complete_form.request_id(value=requests.request_id) }}
    {{ complete_form.submit() }}
  </form>
  {% endif %}
  <hr>
  {% if (requests.artist.username == current_user.username or requests.artist.username is none) and not requests.complete %}
  <button id="reply-btn">Reply</button>
  <div id="reply-form-req-page">
    <form action="{{ url_for('main.send_reply', request_id=requests.request_id) }}" method="post">
      {{ form.hidden_tag() }}
      <p> Please provide the link to your drawing.</p>
      <p> {{ form.body.label }} <br> {{ form.body }} </p>
      <p> {{ form.submit() }} </p>
    </form>
  </div>
  <hr>
  {% endif %}
  {% for reply in replies %}  
  <a href="{{ url_for('main.user', username=reply.artist.username) }}">{{ reply.artist.username }}</a> says: 
    <b>{{ reply.body }}</b> <br> 
    <img src="{{ url_for('static', filename=reply.body) }}" alt="reply image">
    <hr>
  {% endfor %}
{% endblock %}
