{% extends "base.html" %}

{% block content %}
  <p>
    Request: <br>
    {{ requests.author.username }} says: 
    <b>{{ requests.body }}</b> <br> 
    {% if requests.artist %}
    artist: {{ requests.artist.username }} <br>
    {% else %}
    artist: Open to all!
    {% endif %}
  </p>
  <hr>
  {% for reply in replies %}  
  {{ reply.artist.username }} says: 
    <b>{{ reply.body }}</b> <br> 
    <img src="{{ url_for('static', filename=reply.body) }}" alt="reply image">
    <hr>
  {% endfor %}
{% endblock %}