{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
{% endblock %}


{% block content %}
<h2>Requests</h2><br>

  <div class="data-wrapper">
    <div class="data-wrapper-label">{{ requests.author.username }} says:</div>
    <div>{{ requests.body }}</div> <br>
    {% if requests.artist %}
    <div><span class="pink-text">Artist:</span> {{ requests.artist.username }}</span><br>
    {% else %}
      <div><span  class="pink-text">Artist:</span> Open to all!</div>
    {% endif %}
  </div>
  <hr>
{% endblock %}